@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background: #f72d74;
}



.shadow:hover{
  box-shadow: 4px 4px 15px #f62c7326
}
.bottom-top:hover{
  box-shadow: 2px 0px 51px -22px #f72d74;}

/* Slider styles */


/* Animation for the slider */


.btn{
  height: 30px;
  width: 25px;
  accent-color:#616fed;
  border: none;
  
}

.carousel .control-arrow {
  display: none !important; /* Ensures arrows are not visible */
}


.box{
  box-shadow: 0px 10px 15px -3px rgb(222,222,222);
}

@media  (max-width: 575px){
  .input{
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}